.container {
  background-color: var(#{--background-color});
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  border-radius: var(#{--radius});
  box-shadow: var(#{--shadow});
  width: 100%;
  margin-bottom: 1.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    transition: all 0.2s ease-in-out;
    box-shadow: var(#{--shadow-hover});
  }

  &__input {
    width: 100%;
    background-color: transparent;
    margin-left: 2rem;
    border: none;
    outline: none;
    color: var(#{--text-color});
    cursor: pointer;
    &::placeholder {
      opacity: 0.4;
    }
  }

  @media (min-width: 767px) {
    margin-bottom: 0;
    width: 280px;
  }
}
